<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'svg' %>
<div style="clear: left;">
  <%= render :partial => 'iface' %>
</div>
  <br />
  <%= link_to_function 'GO!', 'startRace()' %> | 
  <%= link_to_function 'stop', 'stopRace()' %> | 
  <%= link_to 'reset', '/irosprints/index' %>
  <br />
<div id="winner"></div>
