<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <style>
    body {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      margin: 0 auto; 
      text-align: center;
    }
    h1 {
      font-size: 10em;
    }
  </style>
</head>
<body>
  <div id='wrap'>
    <div id='content'>
      %s
    </div>
  </div>
</body>
</html>
